{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<body>
    <div class="login-body">
        <div class="login-box"

  <form id="signup-form">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <label for="uid">User ID:</label>
    <input type="text" id="uid" name="uid" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button onclick="window.location.href='./login'" type="submit">Sign Up</button>
    <br>
    <button class="back-button" onclick="window.location.href='./login'" style="background-color: #FF66B3; margin-top: 10px;">Back to Login Page</button>
  </form>
</div>
</div>


  <script>
    document.getElementById('signup-form').addEventListener('submit', function (event) {
      event.preventDefault();
      fetch('http://127.0.0.1:8086/api/users/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            uid: document.getElementById('uid').value,
            password: document.getElementById('password').value,
            name: document.getElementById('name').value,
          }),
        })
        .then(response => response.json())
        .then(data => {
          window.location.href = "./";
          window.location.replace("./");
        })
        .catch(error => {
          // Handle any errors that occurred during the fetch
          console.error('Error:', error);
        });
    });
  </script>
</body>
{% endblock %}